.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.facebook {
  background: transparent url('/icons/facebook.svg') no-repeat;
}

.instagram {
  background: transparent url('/icons/instagram.svg') no-repeat;
}

.youtube {
  background: transparent url('/icons/youtube.svg') no-repeat;
}

.twitter {
  background: transparent url('/icons/twitter.svg') no-repeat;
}