body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  color: #444;
}

.header {
  padding: 0.5em;
  font-size: 2em;
  background-color: #337ab7;
  color: #fafafa;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.header .logo {
  height: 32px;
}

.footer {
  padding: 1em 2em;
  background-color: #337ab7;
  color: #fafafa;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer a {
  font-size: 0.85em;
  color: #fafafa;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 120px);
  padding: 0.5em;
}

#widget-holder {
  flex-grow: 1;
}

.padding-h {
  padding: 0 2em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em;
}

.cards .card {
  max-width: 300px;
  width: 100%;
  margin: 10px;
  padding: 1em;
  text-align: center;
  font-size: 0.85em;
}

.cards .card .image {
  display: block;
  width: 32px;
  margin: 16px auto;
}

.cards .card .title {
  color: #337ab7;
}

.cards .card .content {
  font-size: 0.9em;
  color: #888;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .padding-h {
    padding: 0 0.5em;
  }

  .footer {
    padding: 0.5em 1em;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
  }

  .cards .card {
    max-width: 100%;
    margin: 10px 0;
    text-align: center;
    padding: 0;
  }

}

@media (max-width: 600px) {
  .recommendations:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 800px) {
  .recommendations:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 1000px) {
  .recommendations:nth-of-type(4) {
    display: none;
  }
}